{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reservation list</h1>

    <table>
        <thead>
            <tr>
                <th>Numberreservation</th>
                <th>Datestart</th>
                <th>Dateend</th>
                <th>Hourstart</th>
                <th>Hourend</th>
                <th>Price</th>
                <th>Nbspaces</th>
                <th>Reservationid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for reserva in reservation %}
                <tr>
                    <td><a href="{{ path('reservation_show', { 'id': reserva.reservationId }) }}">{{ reserva.numberReservation }}</a></td>
                    <td>{% if reserva.dateStart %}{{ reserva.dateStart|date('Y-m-d') }}{% endif %}</td>
                    <td>{% if reserva.dateEnd %}{{ reserva.dateEnd|date('Y-m-d') }}{% endif %}</td>
                    <td>{{ reserva.hourStart }}</td>
                    <td>{{ reserva.hourEnd }}</td>
                    <td>{{ reserva.price }}</td>
                    <td>{{ reserva.nbSpaces }}</td>
                    <td>{{ reserva.reservationId }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('reservation_show', { 'id': reserva.reservationId }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('reservation_edit', { 'id': reserva.reservationId }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reservation_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
