{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reservation list</h1>

    <table>
        <thead>
            <tr>
                <th>Numberreservation</th>
                <th>Datestart</th>
                <th>Dateend</th>
                <th>Hourstart</th>
                <th>Hourend</th>
                <th>Price</th>
                <th>Nbspaces</th>
                <th>Reservationid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td><a href="{{ path('reservation_show', { 'id': reservation.reservationId }) }}">{{ reservation.numberReservation }}</a></td>
                <td>{% if reservation.dateStart %}{{ reservation.dateStart|date('Y-m-d') }}{% endif %}</td>
                <td>{% if reservation.dateEnd %}{{ reservation.dateEnd|date('Y-m-d') }}{% endif %}</td>
                <td>{{ reservation.hourStart }}</td>
                <td>{{ reservation.hourEnd }}</td>
                <td>{{ reservation.price }}</td>
                <td>{{ reservation.nbSpaces }}</td>
                <td>{{ reservation.reservationId }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('reservation_show', { 'id': reservation.reservationId }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('reservation_edit', { 'id': reservation.reservationId }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reservation_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
