{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reservation</h1>

    <table>
        <tbody>
            <tr>
                <th>Numberreservation</th>
                <td>{{ reservation.numberReservation }}</td>
            </tr>
            <tr>
                <th>Datestart</th>
                <td>{% if reservation.dateStart %}{{ reservation.dateStart|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Dateend</th>
                <td>{% if reservation.dateEnd %}{{ reservation.dateEnd|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Hourstart</th>
                <td>{{ reservation.hourStart }}</td>
            </tr>
            <tr>
                <th>Hourend</th>
                <td>{{ reservation.hourEnd }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ reservation.price }}</td>
            </tr>
            <tr>
                <th>Space</th>
                <td>{{ reservation.space }}</td>
            </tr>
            <tr>
                <th>Reservationid</th>
                <td>{{ reservation.reservationId }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reservation_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('reservation_edit', { 'id': reservation.reservationId }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
