{% extends 'base.html.twig' %}

{% block body %}
    <h1>Parking list</h1>
    <div class="row col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>N°</th>
                    <th>Rue</th>
                    <th>Ville</th>
                    <th>Code Postal</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for row in parking %}
                    <tr>
                        <td><a href="{{ path('parking_show', { 'id': row.parkingId }) }}">{{ row.name }}</a></td>
                        <td>{{ row.numberStreet }}</td>
                        <td>{{ row.street }}</td>
                        <td>{{ row.city }}</td>
                        <td>{{ row.postalCode }}</td>
                        <td>{{ row.description }}</td>
                        <td>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="{{ path('parking_show', { 'id': row.parkingId }) }}" class="btn btn-default">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('parking_edit', { 'id': row.parkingId }) }}" class="btn btn-primary">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <ul>
        <li>
            <a href="{{ path('parking_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
